body {
    font-family: Arial, sans-serif;
    background-color: #e9e9e9;
    padding: 20px;
}

.caixa {
    background: white;
    padding: 20px;
    max-width: 500px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
}

h1 {
    text-align: center;
    color: #222;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #f8f8f8;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    font-size: 18px;
}

.pendente {
    color: red;
    font-weight: bold;
}

.pronto {
    color: green;
    font-weight: bold;
}